<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>newsfeed</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main/navbar.css}" >
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <link rel="icon" href="data:;base64,=">
</head>
<body>
<nav class="navbar" th:fragment="navbar">
    <ul>

        <li><a href="/home">홈</a></li>


        <!--인증이 안 된 경우 -->
        <li><a href="/signup-page"  sec:authorize="!isAuthenticated()">로그인</a></li>

        <!--로그인한 경우 -->
        <li><a href="/feed" sec:authorize="isAuthenticated()">피드 보기</a></li>
        <li><a href="#" sec:authorize="isAuthenticated()" th:text="${user.username}"></a></li>
        <li><a href="#" id="logout-btn" sec:authorize="isAuthenticated()">로그아웃</a></li>

        <!--관리자 -->
        <li sec:authorize="hasAuthority('ROLE_ADMIN')"><a  href="#">관리자 페이지</a></li>
    </ul>
</nav>
<script type="text/javascript" th:src="@{/js/main/navbar.js}"></script>
</body>
</html>