<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>회원가입/로그인</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user/signup.css}" >
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
</head>
<body>
<div>
    <div class="container">
        <div class="message signup">
            <div class="btn-wrapper">
                <button class="button" id="signup">Sign Up</button>
                <button class="button" id="login"> Login</button>
            </div>
        </div>
        <div class="form form--signup">
            <div class="form--heading">회원가입</div>
            <form autocomplete="off" id="signupForm" method="post" >
                <input type="text" id="username" placeholder="Username">
                <input type="email" id="email" placeholder="Email">
                <input type="password" id="pwd" placeholder="Password">
                <button class="button" id="signup-btn" type="submit">Sign Up</button>
            </form>
        </div>
        <div class="form form--login">
            <div class="form--heading">로그인 </div>
            <form autocomplete="off" id="loginForm" method="post" action="/user/login">
                <input type="email" id="loginEmail" placeholder="Email">
                <input type="password" id="loginPwd" placeholder="Password">
                <button class="button" id="login-btn" type="submit">Login</button>
            </form>
        </div>
    </div>
</div>
<!--회원가입, 로그인 폼 이동 js-->
<script type="text/javascript" th:src="@{/js/user/signup.js}"></script>

<!-- 회원가입 -->
<script th:inline="javascript">
    $(document).ready(function() {
        $("#signupForm").submit(function(event) {
            event.preventDefault();

            // signupDTO 객체 생성
            const signupReqDTO = {
                username: $("#username").val(),
                pwd: $("#pwd").val(),
                email: $("#email").val(),
            };

            const url = "/user/signup";
            fetch(url, {
                method: "post",
                body: JSON.stringify(signupReqDTO),
                headers: {
                    "Content-Type": "application/json"
                }
            }).then(response => {
                response.json().then(data => {
                    alert(JSON.stringify(data));
                    window.location.reload();
                });
            })
        });
    });
</script>

<!--로그인-->
<!--<script th:inline="javascript">-->
<!--    $(document).ready(function() {-->
<!--        $("#loginForm").submit(function(event) {-->
<!--            event.preventDefault();-->

<!--            // signupDTO 객체 생성-->
<!--            const loginReqDto = {-->
<!--                email: $("#loginEmail").val(),-->
<!--                pwd: $("#loginPwd").val(),-->
<!--            };-->
<!--            $.ajax({-->
<!--                type: "POST",-->
<!--                url: "/user/login",-->
<!--                data: JSON.stringify(loginReqDto),-->
<!--                contentType : "application/json",-->
<!--                success: function(data) {-->
<!--                    alert(JSON.stringify(data));-->
<!--                    window.location.href = "/home";-->
<!--                },-->
<!--                error: function(xhr, data) {-->
<!--                    alert("로그인 실패");-->
<!--                    window.location.href="/signup-page";-->
<!--                }-->
<!--            });-->
<!--        });-->
<!--    });-->
<!--</script>-->


<!-- 로그인 -->
<script th:inline="javascript">
    $(document).ready(function() {
        $("#loginForm").submit(function(event) {
            event.preventDefault();

            // loginReqDto 객체 생성
            const loginReqDto = {
                email: $("#loginEmail").val(),
                pwd: $("#loginPwd").val(),
            };

            const url = "/user/login";
            fetch(url, {
                method: "post",
                body: JSON.stringify(loginReqDto),
                headers: {
                    "Content-Type": "application/json"
                }
            }).then(response => {
                response.json().then(data => {
                    alert(JSON.stringify(data));
                    if(response.ok) {
                        // 토큰 값을 헤더에서 추출하여 쿠키에 저장
                        const token = response.headers.get('Authorization');
                        document.cookie = `Authorization=${token}; path=/;`;

                        // 토큰을 다시 헤더에 추가하여 home으로 이동
                        const headers = new Headers();
                        const token2 = document.cookie.replace(/(?:(?:^|.*;\s*)Authorization\s*=\s*([^;]*).*$)|^.*$/, "$1");
                        headers.append('Authorization', token2);
                        fetch('/home', {
                            method: 'GET',
                            headers: headers
                        }).then(() => {
                            window.location.href = "/home";
                        });
                    } else{
                        window.location.reload();
                    }
                });
            })
        });
    });
</script>




<!--<script th:inline="javascript">-->
<!--    $(document).ready(function () {-->
<!--        // 토큰 삭제-->
<!--        Cookies.remove('Authorization', {path: '/'});-->

<!--        // 로그인 폼 제출 이벤트 처리-->
<!--        $("#loginForm").submit(function(event) {-->
<!--            event.preventDefault();-->

<!--            // 로그인 DTO 객체 생성-->
<!--            const loginReqDto = {-->
<!--                email: $("#loginEmail").val(),-->
<!--                pwd: $("#loginPwd").val()-->
<!--            };-->

<!--            // 서버로 로그인 요청 보내기-->
<!--            $.ajax({-->
<!--                type: "POST",-->
<!--                url: "/user/login",-->
<!--                contentType: "application/json",-->
<!--                data: JSON.stringify(loginReqDto),-->
<!--                success: function(data, status, xhr) {-->
<!--                    const token = xhr.getResponseHeader("Authorization");-->
<!--                    Cookies.set("Authorization", token, {path: "/"});-->

<!--                    // 모든 AJAX 요청에 토큰을 추가-->
<!--                    $.ajaxPrefilter(function (options, originalOptions, jqXHR) {-->
<!--                        jqXHR.setRequestHeader("Authorization", token);-->
<!--                    });-->

<!--                    $.ajax({-->
<!--                        type: "GET",-->
<!--                        url: "/home",-->
<!--                        contentType: "application/json",-->
<!--                        // beforeSend: function(xhr){-->
<!--                        //     xhr.setRequestHeader("Content-type", "application/json");-->
<!--                        //     xhr.setRequestHeader("Authorization", token);-->
<!--                        // },-->
<!--                        success: function(response){-->
<!--                            console.log(response);-->
<!--                            document.body.innerHTML = response;-->
<!--                            // 새로고침이 필요한 경우-->
<!--                            window.location.href="localhost:8080/home";-->
<!--                        }-->
<!--                    })-->
<!--                },-->
<!--                error: function(jqXHR) {-->
<!--                    alert("로그인 실패: " + jqXHR.responseText);-->
<!--                    window.location.href = "/signup-page";-->
<!--                }-->
<!--            });-->
<!--        });-->
<!--    });-->
<!--</script>-->




</body>
</html>